# Compiled output and temporary files
/dist
frontend/dist/
/tmp
.angular/
.vscode/
.env

# Node and project-specific files
node_modules/

# /backend/.env

# Custom folders that should not be tracked
/python
# /sql
/dist