<div class="password-reset-dialog">
  <h2 mat-dialog-title>Reset Password</h2>
  
  <mat-dialog-content>
    <p>Enter your email address and we'll send you a link to reset your password.</p>
    
    <form [formGroup]="passwordResetForm" (ngSubmit)="onPasswordResetSubmit()" class="password-reset-form">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email Address</mat-label>
        <input matInput 
               type="email"
               formControlName="email"
               placeholder="Enter your email address">
        <mat-icon matSuffix>email</mat-icon>
        <mat-error *ngIf="passwordResetForm.get('email')?.errors && passwordResetForm.get('email')?.touched">
          Please enter a valid email address
        </mat-error>
      </mat-form-field>
    </form>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button 
            type="button"
            (click)="onCancel()"
            [disabled]="isLoading">
      Cancel
    </button>
    <button mat-raised-button 
            color="primary"
            type="submit"
            [disabled]="!passwordResetForm.valid || isLoading"
            (click)="onPasswordResetSubmit()">
      <mat-spinner diameter="20" *ngIf="isLoading"></mat-spinner>
      <span *ngIf="!isLoading">Send Reset Link</span>
      <span *ngIf="isLoading">Sending...</span>
    </button>
  </mat-dialog-actions>
</div>