form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 0 auto;
}

mat-form-field {
  margin-bottom: 20px;
}

button {
  align-self: flex-start;
}

.column {
  float: left;
  width: 40%;
  padding: 20px

}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.snackbar-fade {
  animation: fadeInOut 3s ease-in-out;
}

@keyframes fadeInOut {
  0%, 100% { opacity: 0; }
  10%, 90% { opacity: 1; }
}
