<!-- signup component html -->
<div>
  <mat-card>
    <form [formGroup]="signup_form">
      <mat-form-field appearance="outline">
        <mat-label>Choose a Location</mat-label>
        <mat-select formControlName="game_location" required>
          <mat-option *ngFor="let location of locations$ | async" [value]="location.id">
            {{ location.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </mat-card>

</div>
<div>
  <div class="row">
    <div *ngFor="let venue of venue_details; trackBy: trackByVenueId">
    <div class="column">
        <mat-card [ngClass]="{'gray-out': shouldGrayOut(venue)}">
          <mat-card-title>
            {{ venue.name }} Details
          </mat-card-title>
          <mat-card-content>
            <p><strong>Address:</strong> {{ venue.address }}</p>
            <p><strong>Game Day:</strong> {{ venue.game_day }}</p>
            <p><strong>Start Time:</strong> {{ venue.start_time }}</p>
            <p><strong>Notes:</strong> {{ venue.notes }}</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="primary" 
                    [disabled]="shouldGrayOut(venue)"
                    (click)="signUpForGame(venue.game_id)">
              {{ shouldGrayOut(venue) ? 'Game not today' : 'Sign up for this game' }}
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
      <hr>
    </div>
  </div>
</div>