:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.username-field {
  .mat-mdc-input-element:disabled {
    background-color: #f0f0f0;
    color: #333;
    font-weight: bold;
    cursor: not-allowed;
  }
}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 20px;
  flex-wrap: wrap;
  gap: 20px;
}

.column {
  flex: 1 1 300px;
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 0 auto;
  padding: 25px;
}

mat-form-field {
  margin-bottom: 20px;
}

mat-card {
  padding: 70px;
}

.gray-out {
  opacity: 0.5;
}