<div class="dialog-header">
  <h2 mat-dialog-title>
    {{ data.mode === 'add' ? 'Add New User' : 'Edit User' }}
  </h2>
  <button mat-icon-button (click)="onCancel()" class="close-button">
    <mat-icon>close</mat-icon>
  </button>
</div>

<mat-dialog-content class="dialog-content">
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="user-form">
    <div class="form-row">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username" placeholder="Enter username">
        <mat-error *ngIf="getFieldError('username')">{{ getFieldError('username') }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email" placeholder="Enter email address">
        <mat-error *ngIf="getFieldError('email')">{{ getFieldError('email') }}</mat-error>
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>First Name</mat-label>
        <input matInput formControlName="first_name" placeholder="Enter first name">
        <mat-error *ngIf="getFieldError('first_name')">{{ getFieldError('first_name') }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="last_name" placeholder="Enter last name">
        <mat-error *ngIf="getFieldError('last_name')">{{ getFieldError('last_name') }}</mat-error>
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password" 
               [placeholder]="data.mode === 'add' ? 'Enter password' : 'Leave blank to keep current password'">
        <mat-error *ngIf="getFieldError('password')">{{ getFieldError('password') }}</mat-error>
        <mat-hint *ngIf="data.mode === 'edit'">Leave blank to keep current password</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Role</mat-label>
        <mat-select formControlName="role">
          <mat-option *ngFor="let role of roles" [value]="role">
            {{ role | titlecase }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="getFieldError('role')">{{ getFieldError('role') }}</mat-error>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions class="dialog-actions">
  <button mat-button (click)="onCancel()" [disabled]="isLoading">
    Cancel
  </button>
  <button mat-raised-button 
          color="primary" 
          (click)="onSubmit()" 
          [disabled]="userForm.invalid || isLoading">
    <mat-spinner *ngIf="isLoading" diameter="20" class="button-spinner"></mat-spinner>
    <span *ngIf="!isLoading">{{ data.mode === 'add' ? 'Create User' : 'Update User' }}</span>
  </button>
</mat-dialog-actions>
