<div class="sidenav" [ngClass]="isLeftSidebarCollapsed() ? 'sidenav-collapsed' : ''">
  <div class="logo-container">
    <button class="logo" (click)="toggleCollapse()">
      <span class="material-icons">menu</span>
    </button>
    @if (!isLeftSidebarCollapsed()) {
    <div class="logo-text">Poker Sign-Up</div>
    <!-- <button class="btn-close" (click)="closeSidenav()">
        <i class="fal fa-times close-icon"></i>
      </button> -->
    }
  </div>
  <div class="sidenav-nav">
    @for (item of items; track $index) {
    <li class="sidenav-nav-item">
      <a class="sidenav-nav-link" [routerLink]="item.routeLink" routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">
        <span class="material-icons sidenav-link-icon">{{ item.icon }}</span>
        @if (!isLeftSidebarCollapsed()) {
        <span class="sidenav-link-text">{{ item.label }}</span>
        }
      </a>
    </li>
    }
    @if (authService.isAuthenticated()) {
    <li class="sidenav-nav-item logout-item">
      <a class="sidenav-nav-link" (click)="onLogout()" role="button">
        <span class="material-icons sidenav-link-icon">logout</span>
        @if (!isLeftSidebarCollapsed()) {
        <span class="sidenav-link-text">Logout</span>
        }
      </a>
    </li>
    }
  </div>
</div>